* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5,1fr);
    gap:10px;
    align-items: center;
}

.grid-elem {
    /* height: 50px; */
    background-color: rgb(224, 0, 0);
    color: #fff;
    line-height: 150px;
    text-align: center;
    font-size: 26px;
    border: 1px solid #000;
    border-radius: 4px;
}